{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "presets": [
    [
      "next/babel",
      { "preset-env": { "modules": false }, "transform-runtime": { "corejs": false } }
    ],
    "@zeit/next-typescript/babel"
  ]
}
